.header{
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  align-items: center;
  grid-area: header;
  background-color: $color-primary;
  border-radius: 5px;
}

.header .link{
  margin-right: 20px;
}
